* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.c-pointer {
    cursor: pointer;
}
.d-flex {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}
.grow-1 {
    flex-grow: 1;
}
.fill-white {
    fill: white;
}
